<div class="row">

  <div class="form-group col">
    <label for="cargo-publico"><strong>Cargo Público</strong></label>
    <select
      [(ngModel)]="trabajador.cargoPublico"
      #name="ngModel"
      name="cargoPublico"
      class="form-control"
      id="cargo-publico"
    >
      <option value="sin-cargo-publico">Sin Cargo Público</option>
      <option value="concejal">Concejal</option>
      <option value="consejero-Regional">Consejero Regional</option>
    </select>
    <small></small>
  </div>


  <div *ngIf="trabajador.cargoPublico === 'consejero-Regional'" class="form-group col">
    <label for="region-comuna"><strong>Región</strong></label>
    <select class="form-control" id="region-comuna">
      <option value="Arica y Parinacota">Arica y Parinacota</option>
      <option value="Tarapacá">Tarapacá</option>
      <option value="Antofagasta">Antofagasta</option>
      <option value="Atacama">Atacama</option>
    </select>
  </div>


  <div *ngIf="trabajador.cargoPublico === 'concejal'" class="form-group col">
    <label for="region-comuna"><strong>Comuna</strong></label>
    <select class="form-control" id="region-comuna">
      <option value="Arica y Parinacota">Viña</option>
      <option value="Tarapacá">Valparaiso</option>
      <option value="Antofagasta">Santiago</option>
    </select>
  </div>


  <div>
    <pre>
      {{ trabajador | json }}
    </pre>
  </div>

</div>
